<h3>Hello,  <%= current_user.username %>. What would you like to do today? </h3>
    <a href="/stories/new">Write A Spooky Story</a></br>
    <a href="/stories/edit_story">Make Changes</a></br>
    <a href="/stories/public_stories">View Stories</a></br>
    <a href="/logout">Sign Out</a>