<h1>Create Account</h1>


<form action="/registrations" method="POST">
E-Mail:<input type="text" id="email" value="E-mail" name="email"><br>
Username:<input type="text" id="username" value="Username" name="username"><br>
Password:<input type="text" id="password" value="Password" name="password"><br>
<input type="submit" id="submit" name="submit" value="Create Account">
</form>