<h1>Read Tales</h1>

<% @stories.each_with_index do |story, i| %>
    <a href="/stories/<%= story.id %>">
    <%= i+1 %>. <%= story.title %> </br>
    <% end %>
<br>
    <a href="/stories/new"><button type="button">Write & Share</button></br>
    <a href="/users/show"><button type="button">Return Home</button>