<h1>Create A New Chiller</h1>

<form action='/stories' method="POST">

<label for="title">Story Title:</label>
<input type="text" id="title" name="title">
</br>
<label for="content">Content:</label>
<input textarea="text" id="content" name="content">
</br>
<input type="submit" value="Submit Story">
</form>

    <h3> Sample Story: </h3>
    <p> Title: The Shine </p>
    <p> Content: "All work and no play makes James a dull boy..."</p>

Having trouble? <a href="/stories/public_stories">Click Here</a> to see what others are writing about.