<h1>Read What Other`'`s Wrote So Far</h1>

<% @stories.each do |s| %>
    <label for="Title:" >Title:</label>< %= s.title %></br>
    <label for="Content:" >Story:</label>< %= s.content %></br>
    <% end %>
