<h1>Your Chillers</h1>

<% @user.stories.all %>
<% @stories.each do |story|%>
<label for="Title:">Title:</label><%= story.title %></br>
<label for="Content:">Story:</label><%= story.content %></br>
<% end %>

