<h1>Your Tale</h1>


Title: <%= @story.title %><br>
Story: <%= @story.content %><br>
<form action="/stories/<%=@story.id%>/delete" method="POST"> 
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove Story">
</form>

<a href="/stories/new"><button type="button">Create New Story</button></br>
<a href="/users/show"><button type="button">Return</button></br>



